In [1]:
import pandas as pd

In [2]:
features = pd.read_csv('frame.gzip',compression='gzip')
cordf = pd.read_csv('cordf.gzip',compression='gzip')

In [3]:
def preprocess(features):
    features = features.drop(columns=['Unnamed: 0'])
    y = features['life-span']
    x = features.drop(columns=['life-span'])
    return x,y

In [4]:
x,y = preprocess(features)

In [5]:
y

0         30.0
1         23.0
2         40.0
3         59.0
4         46.0
5         44.0
6         24.0
7         45.0
8         30.0
9         52.0
10        30.0
11        44.0
12        51.0
13        74.0
14        30.0
15        45.0
16        49.0
17        18.0
18        44.0
19        45.0
20        70.0
21        45.0
22        28.0
23        64.0
24        30.0
25        38.0
26        30.0
27        30.0
28        22.0
29        52.0
          ...
430996    48.0
430997    18.0
430998    59.0
430999    25.0
431000    42.0
431001    70.0
431002    52.0
431003    38.0
431004    60.0
431005    46.0
431006    65.0
431007    35.0
431008    56.0
431009    48.0
431010    26.0
431011    47.0
431012    32.0
431013    32.0
431014    60.0
431015    48.0
431016    66.0
431017    76.0
431018    50.0
431019    40.0
431020    43.0
431021    70.0
431022    54.0
431023    35.0
431024    56.0
431025    26.0
Name: life-span, Length: 431026, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
xtr,xte,ytr,yte = train_test_split(x,y,test_size=0.20, random_state=20)

In [8]:
import keras

Using TensorFlow backend.

In [9]:
features.head()

,Unnamed: 0,state,rural,year_of_death,treatment_source,diagnosed_for,place_of_death,is_car,year_of_birth,highest_qualification,occupation_status,disability_status,diagnosed_for.1,chew,smoke,alcohol,wt,sex,life-span
0,0,18,1.0,2009.0,5.0,0.0,1.0,2.0,1979.0,0.0,1.0,0.0,0.0,1.0,3.0,2.0,27.00,1.0,30.0
1,1,18,1.0,2009.0,99.0,0.0,1.0,2.0,1986.0,4.0,1.0,0.0,0.0,1.0,4.0,2.0,27.00,1.0,23.0
2,2,18,1.0,2009.0,99.0,0.0,1.0,2.0,1969.0,6.0,1.0,0.0,0.0,1.0,4.0,2.0,54.07,1.0,40.0
3,3,18,1.0,2008.0,99.0,0.0,1.0,2.0,1949.0,1.0,10.0,0.0,0.0,2.0,4.0,4.0,27.00,1.0,59.0
4,4,18,1.0,2007.0,99.0,0.0,1.0,2.0,1961.0,0.0,10.0,4.0,0.0,2.0,4.0,4.0,27.00,2.0,46.0

In [11]:
#pd.get_dummies()

In [12]:
from keras.models import Sequential
from keras.layers import Dense
import numpy

In [13]:
model = Sequential()
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [14]:
import tensorflow as tf
def build_model():
  model = keras.Sequential([
    keras.layers.Dense(64, activation=tf.nn.relu,
                       input_dim=17),
    keras.layers.Dense(64, activation=tf.nn.relu),
    keras.layers.Dense(1)
  ])

  optimizer = tf.train.RMSPropOptimizer(0.001)

  model.compile(loss='mse',
                optimizer=optimizer,
                metrics=['mae'])
  return model

model = build_model()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 64)                1152
_________________________________________________________________
dense_5 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 65
=================================================================
Total params: 5,377
Trainable params: 5,377
Non-trainable params: 0
_________________________________________________________________

In [ ]:
class PrintDot(keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs):
    if epoch % 10 == 0: print('')
    print('.', end='')

EPOCHS = 500

# Store training stats
history = model.fit(xtr, ytr, epochs=EPOCHS,
                    validation_split=0.2, verbose=0,
                    callbacks=[PrintDot()])

In [ ]:
model.save('my_model.h5')

In [ ]:
import matplotlib.pyplot as plt
def plot_history(history):
  plt.figure()
  plt.xlabel('Epoch')
  plt.ylabel('Mean Abs Error [1000$]')
  plt.plot(history.epoch, np.array(history.history['mean_absolute_error']),
           label='Train Loss')
  plt.plot(history.epoch, np.array(history.history['val_mean_absolute_error']),
           label = 'Val loss')
  plt.legend()
  plt.ylim([0, 5])

plot_history(history)