In [4]:
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [77]:
def readvals(name):
    t = pd.read_csv(name)
    ft = t[['state','rural','order_of_birth','year_of_death','treatment_source','diagnosed_for','place_of_death','is_car','year_of_birth','highest_qualification','occupation_status','disability_status','diagnosed_for','chew','smoke','alcohol','as','wt']]
    ft['life-span'] = ft['year_of_death'] - ft['year_of_birth']
    return ft

In [78]:
lis = ['aas.csv','bh.csv','ct.csv','jh.csv','ori.csv','rj.csv','ut.csv']# mp.csv and up.csv are removed
dic ={}
for i in lis:
    t = i.split('.')
    print(t[0])
    dic[t[0]] = readvals(i)

aas

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

bh
ct
jh
ori
rj
ut

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [23]:
aas = pd.read_csv('as.csv')
bh = pd.read_csv('bh.csv')
ct = pd.read_csv('ct.csv')
jh = pd.read_csv('jh.csv')
mp = pd.read_csv('mp.csv')
ori = pd.read_csv('or.csv')
rj = pd.read_csv('rj.csv')
up = pd.read_csv('up.csv')
ut = pd.read_csv('ut.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,11,14,16,17,18,22,23,24,25,26,27,28,29,30,31,32,33,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,3,16,17,18,19,20,22,23,24,25,26,27,28,29,30,31,32,33,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
fas = aas[['rural','year_of_death','treatment_source','place_of_death','year_of_birth','highest_qualification','occupation_status','disability_status','diagnosed_for','chew','smoke','alcohol']]
fas = aas[['rural','year_of_death','treatment_source','place_of_death','year_of_birth','highest_qualification','occupation_status','disability_status','diagnosed_for','chew','smoke','alcohol']]

In [6]:
fdf = df[['rural','year_of_death','treatment_source','place_of_death','year_of_birth','highest_qualification','occupation_status','disability_status','diagnosed_for','chew','smoke','alcohol']]

In [11]:
fdf['totyears'] = fdf['year_of_death'] - fdf['year_of_birth']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,rural,year_of_death,treatment_source,place_of_death,year_of_birth,highest_qualification,occupation_status,disability_status,diagnosed_for,chew,smoke,alcohol,totyears
0,1,2011,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2011,0.0,1.0,1983.0,4.0,1.0,0.0,0.0,3.0,4.0,2.0,28.0
2,2,2009,6.0,1.0,1964.0,8.0,4.0,0.0,0.0,7.0,4.0,2.0,45.0
3,2,2009,6.0,1.0,1959.0,4.0,10.0,0.0,0.0,7.0,4.0,4.0,50.0
4,1,2011,6.0,3.0,1975.0,4.0,10.0,0.0,0.0,7.0,4.0,4.0,36.0

In [91]:
tas = pd.read_csv('aas.csv')
tas['life-span'] = tas['year_of_death'] - tas['year_of_birth']
ftas = tas[['state','rural','order_of_birth','year_of_death','treatment_source','diagnosed_for','place_of_death','is_car','year_of_birth','highest_qualification','occupation_status','disability_status','diagnosed_for','chew','smoke','alcohol','as','wt','life-span']]

In [102]:
correlation = tas.corr()['life-span']

In [117]:
indexlis = correlation.index

In [172]:
def readvals(name):
    ft = pd.read_csv(name)
    ft['life-span'] = ft['year_of_death'] - ft['year_of_birth']
    return ft
lis = ['aas.csv','bh.csv','ct.csv','jh.csv','ori.csv','rj.csv','ut.csv']# mp.csv and up.csv are removed
di ={}
totaldict={}
cordf = pd.DataFrame(index=indexlis,columns=lis)
for i in lis:
    t = i.split('.')
    res=readvals(i)
    na= res.corr()['life-span']
    totaldict[t[0]]=res
    di[i] = na
    for index in indexlis: 
        cordf.loc[index,i] = na[index]
        #ordf.loc['id','aas.csv'] =

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [198]:
features = pd.DataFrame(totaldict['aas'])
for i in list(totaldict.keys())[1:]:
    features = features.append(totaldict[i],ignore_index=True)

In [202]:
import pickle
pickle.dump(features,open('features.pkl','wb'))

In [183]:
totaldict.keys()

dict_keys(['aas', 'bh', 'ct', 'jh', 'ori', 'rj', 'ut'])

In [210]:
# 'order_of_birth','as'is removed
mfeatures = features[['state','rural','year_of_death','treatment_source','diagnosed_for','place_of_death','is_car','year_of_birth','highest_qualification','occupation_status','disability_status','diagnosed_for','chew','smoke','alcohol','wt','sex','life-span']]

In [213]:
mfeatures_rna = mfeatures.dropna()
pickle.dump(mfeatures_rna,open('mfeatures_dropm','wb'))

In [155]:
def topcorr(name,n):
    return cordf.sort_values(name, ascending=False).head(n)[name]

In [175]:
topcorr('aas.csv',30)

life-span                                   1
age                                  0.998216
occupation_status                    0.393648
marital_status                       0.385031
mother_serial_no                     0.357104
father_serial_no                     0.351444
year_of_marriage                     0.210247
no_of_dwelling_rooms                  0.20499
currently_attending_school           0.175682
as                                   0.162816
sex                                   0.16003
cooking_fuel                         0.104626
alcohol                             0.0865656
is_toilet_shared                    0.0848767
water_filteration                   0.0841761
age_of_death_above_one_year         0.0833712
year_of_death                       0.0810369
diagnosed_for                       0.0756547
is_death_associated_with_pregnan    0.0745374
rural                               0.0680675
disability_status                   0.0628412
deceased_sex                        0.0607497
isheadchanged                       0.0591916
is_death_certificate_received       0.0578524
date_of_death                        0.056179
year                                0.0547803
order_of_birth                      0.0490311
id                                  0.0420149
illness_type                        0.0349076
client_m_id                         0.0320784
Name: aas.csv, dtype: object

In [143]:

for i in indexlis:
    print(correlation[i])

0.04201493206954732
0.01331318177161984
0.032078444791949566
0.0031775384832470163
-0.021196445227620785
-0.02124777107791355
nan
0.017195222333743727
0.06806753168704896
-0.07103420758999883
0.00926782615227183
-0.019715351956722436
0.060749667177402995
0.05617898119647879
0.015409231292837925
0.08103685651322194
0.014801390312978396
0.009181513207693347
0.0833711546128725
-0.010777169393583804
-0.015741255575572332
-0.050377298635871356
0.057852433131681404
-0.02777937489988337
0.04903107359298611
0.004608430236503289
0.07453738019878565
-0.04730351809845596
-0.02899687322823627
-0.061854460090696686
-0.061070521856082194
-0.005439618002715555
-0.043587706294353115
-0.03552312218378188
nan
nan
0.021275883648887592
-0.009562083645934022
0.002061962001855964
-0.011388063912417931
0.16002964162748373
nan
nan
-0.040881411483415474
0.351444030723094
0.35710359982259826
-0.08462155333166466
-0.06885058015526198
-0.9950659485754872
0.9982157047455181
-0.049314810870169055
-0.00695569840308357
0.38503140685928333
-0.10059752677344366
-0.10774035188121509
0.21024657610323064
0.1756817205928071
-0.07513656470088022
-0.11271360574482271
0.3936483531289479
0.06284122563248179
0.005703420621127822
0.034907632882696354
-0.05442765537824033
-0.025828737476427797
0.07565466283317397
-0.0285412687070617
0.026421584573088207
-0.017924421227323118
0.0014913492285607134
0.03172649430815248
0.08656556221093868
-0.1352545563357372
nan
-0.008214466205155145
-0.025571485494612804
-0.012343680613147034
-0.11055761190766142
-0.06043279150624087
-0.005356363632561262
-0.07600485233457593
0.08417614917999619
0.026972709144717485
0.08487670732857228
-0.10943433353318749
-0.08531669475337689
0.10462610434172188
0.20498978793801764
-0.007907577908121285
-0.061269427914844236
-0.1294143977205446
-0.05781940190444168
-0.11312154900245239
-0.06402858891063123
-0.10820094805160654
-0.11392945539000562
-0.06853838522375
-0.10736211903481174
-0.07261763608720247
-0.045900454419748146
-0.05937184329427049
-0.05633331044430318
-0.05029016068516483
nan
-0.02947695981646397
nan
-0.05512584550405412
-0.030777079246211474
-0.082677952996249
0.02345686826461212
1.4683113278383755e-05
-0.04622406736076932
0.059191619596755195
-0.02947695981659659
0.00016818422734401982
0.16281615421318804
0.008157229244160335
nan
nan
0.05478028312353585
nan
1.0

In [114]:
import numpy as np
np.sort(correlation)

AxisError: axis 1 is out of bounds for array of dimension 1

In [82]:
tas.corr(tas['life-span'])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\ops.py:1164: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison